{% extends "base.html" %}

{% block newpost %}class="selected"{% endblock %}

{% block body_sections %}
	<section>
		<article>
			<header>
				<h1>CS 253 Blog</h1>
				<h2>New Post</h2>
			</header>
			<br>
			<form method="POST" action="/blog/newpost">
				<label>
					Subject
					<input type="text" name="subject" value="{{ subject }}">
				</label>
				<br>
				<label>
					Content
					<textarea name="content">{{ content }}</textarea>
				</label>
				<br>
				<br>
				<input type="submit">
			</form>
			<div class="error"> {{ error }}</div>
		</article>
	</section>
{% endblock %}