{% extends "base.html" %}

{% block body_sections %}
    <section>
        <article>
            <header>
                <h1>Wiki</h1>
                <h2>History page: {{ title }}</h2>
            </header>
            <hr>
            {% for record in version_record %}
                {% if loop.index is divisibleby 2 %}
                    <div class="row-even">
                        <table>
                            <tr>
                                <td class="col-version">
                                    v.{{record.version}}
                                </td>

                                <td class="col-created">
                                    {{ record.created }}
                                </td>

                                <td>
                                    {{ record.content }}
                                </td>

                                <td class="col-view">
                                    <a href="{{ record.url }}?v={{record.version}}">view</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <div class="row-uneven">
                        <table>
                            <tr>
                                <td class="col-version">
                                    v.{{record.version}}
                                </td>

                                <td class="col-created">
                                    {{ record.created }}
                                </td>

                                <td>
                                    {{ record.content }}
                                </td>

                                <td class="col-view">
                                    <a href="{{ record.url }}?v={{record.version}}">view</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        </article>
    </section>
{% endblock %}