{% extends "base.html" %}

{% block body_sections %}
	<section>
		<header>
			<h1>CS 253 Wiki</h1>
		</header>
		
		<article>
			<h3>(*) You also can type "/wiki/page_that_doesn't_exist_yet/" in the address bar for edit a new wiki page.</h3>
		</article>

		<br>

		{% for page in wiki %}
		<article>
			<header>
				<h2>Wiki page: <a href="{{ page.url}}">{{ page.title }}</a></h2>
				<hr>
			</header>
			<p>{{page.content.replace('\n', '<br>') | safe}}</p>
			<footer class="permalink">
				<a href="/wiki/_edit/{{ page.title }}">Edit</a>
			</footer>
		</article>
		{% endfor %}
	</section>
{% endblock %}


