{% extends "base.html" %}

{% block wiki %}class="selected"{% endblock %}

{% block body_sections %}
	<section>
		<header>
			<h1>CS 253 Wiki</h1>
		</header>
		
		<article>
			<h3>(*) You must be logged to create or edit a wiki page.</h3>
			<h3>(*) Type "/wiki/page_that_doesn't_exist_yet/" in the address bar for create a new wiki page.</h3>
		</article>

		<br>

		{% for page in wiki %}
		<article>
			<header>
				<h2>Wiki page: <a href="{{ page.url}}">{{ page.title }}</a></h2>
				<hr>
			</header>
			<p>{{page.content.replace('\n', '<br>') | safe}}</p>
		</article>
		{% endfor %}
	</section>
{% endblock %}


