{% extends "base.html" %}

{% block body_sections %}
    <section>
        <article>
            <header>
                <h1>Wiki</h1>
                <h2>Wiki page: {{ title }}</h2>
            </header>
            <hr>
            <p>
                {{content | safe}}
            </p>
            <footer class="permalink">
                {% if version %}
                    <a href="/wiki/_edit/{{ [page, '?v=', version]|join }}">Edit</a> -
                {% else %}
                    <a href="/wiki/_edit/{{ page }}">Edit</a> - 
                {% endif %}
                
                <a href="/wiki/_history/{{ page }}">History</a>  
            </footer>
        </article>
    </section>
{% endblock %}