{% extends "base.html" %}

{% block acces %} 
	{% if logged %}
    	<li><a href="/blog/logout">Logout</a></li>
	{% else %}
    	<li><a href="/blog/signup">Signup</a></li> 
		<li><a href="/blog/login">Login</a></li> 
	{% endif %}
{% endblock%}

{% block body_sections %}
	<section>
		<article>
			<header>
				<h1>CS 253 Blog</h1>
				<h2>{{subject}} <time>{{date.strftime("%b %d %Y")}}</time></h2>
				<hr>
			</header>
			<p>{{content}}</p>
		</article>
	</section>
{% endblock %}

{% block footer_sections %}
	<div class="query-age">Queried {{query_time_stat}} seconds ago</div>
{% endblock %}
