{% extends "base.html" %}

{% block acces %} 
    {% if logged %}
        <li><a href="/blog/logout">Logout</a></li>
    {% else %}
        <li><a href="/blog/signup">Signup</a></li> 
        <li><a href="/blog/login">Login</a></li> 
    {% endif %}
{% endblock%}

{% block body_sections %}
    <section>
        <article>
            <header>
                <h1>Signup</h1>
            </header>
            <form action="signup" method="POST">

                <label>
                    Username
                    <input type="text" name="username" value="{{ username }}" placeholder="username"><span class="error"> {{ username_error }}</span>
                </label>
                
                <br>

                <label>
                    Password
                    <input type="password" name="password" placeholder="password"><span class="error"> {{ password_error }}</span>
                </label>
                
                <br>
                
                <label>
                    Verify password
                    <input type="password" name="verify" placeholder="repeat password">
                </label>
                
                <br>
                 
                <label>
                    Email (optional)
                    <input type="text" name="email" value="{{ email }}" placeholder="email"><span class="error"> {{ email_error }}</span>
                </label>
                
                <br>
                <br>

                <input type="submit" value="Sign Up">
            </form>
        </article>
    </section>
{% endblock %}